.tooltip
{
    position: fixed;
    z-index: 1100;
    width: 200px;
    background-color: var(--bordercolor);
    left: 50%;
    top: 11%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--light);
    padding: 8px 0 ;
    border-radius: 5px;
}
